<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="diabo">
      <h2 data-cy="diaboDetailsHeading"><span>Diabo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ diabo.id }}</span>
        </dd>
        <dt><span>Material</span></dt>
        <dd>
          <span>{{ diabo.material }}</span>
        </dd>
        <dt><span>Material Description</span></dt>
        <dd>
          <span>{{ diabo.materialDescription }}</span>
        </dd>
        <dt><span>Abc Classification</span></dt>
        <dd>
          <span>{{ diabo.abcClassification }}</span>
        </dd>
        <dt><span>Avg Supplier Delay Last 90 Days</span></dt>
        <dd>
          <span>{{ diabo.avgSupplierDelayLast90Days }}</span>
        </dd>
        <dt><span>Max Supplier Delay Last 90 Days</span></dt>
        <dd>
          <span>{{ diabo.maxSupplierDelayLast90Days }}</span>
        </dd>
        <dt><span>Service Level</span></dt>
        <dd>
          <span>{{ diabo.serviceLevel }}</span>
        </dd>
        <dt><span>Current Sap Safety Stock</span></dt>
        <dd>
          <span>{{ diabo.currentSapSafetyStock }}</span>
        </dd>
        <dt><span>Proposed Safety Stock</span></dt>
        <dd>
          <span>{{ diabo.proposedSafetyStock }}</span>
        </dd>
        <dt><span>Delta Safety Stock</span></dt>
        <dd>
          <span>{{ diabo.deltaSafetyStock }}</span>
        </dd>
        <dt><span>Current Sap Safety Time</span></dt>
        <dd>
          <span>{{ diabo.currentSapSafetyTime }}</span>
        </dd>
        <dt><span>Proposed Safety Time</span></dt>
        <dd>
          <span>{{ diabo.proposedSafetyTime }}</span>
        </dd>
        <dt><span>Delta Safety Time</span></dt>
        <dd>
          <span>{{ diabo.deltaSafetyTime }}</span>
        </dd>
        <dt><span>Open Sap Md 04</span></dt>
        <dd>
          <span>{{ diabo.openSapMd04 }}</span>
        </dd>
        <dt><span>Current Inventory Value</span></dt>
        <dd>
          <span>{{ diabo.currentInventoryValue }}</span>
        </dd>
        <dt><span>Average Inventory Effect After Change</span></dt>
        <dd>
          <span>{{ diabo.averageInventoryEffectAfterChange }}</span>
        </dd>
        <dt><span>New Sap Safety Stock</span></dt>
        <dd>
          <span>{{ diabo.newSapSafetyStock }}</span>
        </dd>
        <dt><span>New Sap Safety Time</span></dt>
        <dd>
          <span>{{ diabo.newSapSafetyTime }}</span>
        </dd>
        <dt><span>Select Entries For Change In Sap</span></dt>
        <dd>
          <span>{{ diabo.selectEntriesForChangeInSap }}</span>
        </dd>
        <dt><span>Flag Material As Special Case</span></dt>
        <dd>
          <span>{{ diabo.flagMaterialAsSpecialCase }}</span>
        </dd>
        <dt><span>Commentary</span></dt>
        <dd>
          <span>{{ diabo.commentary }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/diabo', diabo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
