<div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-9">
    <h1 class="display-4">Welcome to DIABO - PEI 2023/24 G17</h1>

    <p class="lead">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>

    <h3>Project developed by</h3>

    <div class="container">
      <div>
        <h4>Front-End</h4>
        <ul class="list">
            <li>Francisco Toldy - PG50379</li>
            <li>Joana Alves - PG50457</li>

            <li>João Delgado - PG50487</li>
            <li>Vicente Moreira - PG50799</li>

        </ul>
      </div>

      <div>
        <h4>Back-End</h4>
        <ul class="list">
            <li>Ana Gonçalves - PG50180</li>
            <li>Pedro Fernandes - A84313</li>
        </ul>
      </div>
  </div>
  </div>
</div>
