
.logo-export {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/export.png') no-repeat center center;
    background-size: contain;
  }
  