<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="material">
      <h2 data-cy="materialDetailsHeading"><span>Material</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ material.id }}</span>
        </dd>
        <dt><span>Material</span></dt>
        <dd>
          <span>{{ material.material }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ material.description }}</span>
        </dd>
        <dt><span>Abc Classification</span></dt>
        <dd>
          <span>{{ material.abcClassification }}</span>
        </dd>
        <dt><span>Avg Supplier Delay</span></dt>
        <dd>
          <span>{{ material.avgSupplierDelay }}</span>
        </dd>
        <dt><span>Max Supplier Delay</span></dt>
        <dd>
          <span>{{ material.maxSupplierDelay }}</span>
        </dd>
        <dt><span>Service Level</span></dt>
        <dd>
          <span>{{ material.serviceLevel }}</span>
        </dd>
        <dt><span>Curr SAP Safety Stock</span></dt>
        <dd>
          <span>{{ material.currSAPSafetyStock }}</span>
        </dd>
        <dt><span>Propsed SST</span></dt>
        <dd>
          <span>{{ material.propsedSST }}</span>
        </dd>
        <dt><span>Delta SST</span></dt>
        <dd>
          <span>{{ material.deltaSST }}</span>
        </dd>
        <dt><span>Current SAP Safe Time</span></dt>
        <dd>
          <span>{{ material.currentSAPSafeTime }}</span>
        </dd>
        <dt><span>Proposed ST</span></dt>
        <dd>
          <span>{{ material.proposedST }}</span>
        </dd>
        <dt><span>Delta ST</span></dt>
        <dd>
          <span>{{ material.deltaST }}</span>
        </dd>
        <dt><span>Open SA Pmd 04</span></dt>
        <dd>
          <span>{{ material.openSAPmd04 }}</span>
        </dd>
        <dt><span>Current Inventory Value</span></dt>
        <dd>
          <span>{{ material.currentInventoryValue }}</span>
        </dd>
        <dt><span>Unit Cost</span></dt>
        <dd>
          <span>{{ material.unitCost }}</span>
        </dd>
        <dt><span>Avg Demand</span></dt>
        <dd>
          <span>{{ material.avgDemand }}</span>
        </dd>
        <dt><span>Avg Inventory Effect After Change</span></dt>
        <dd>
          <span>{{ material.avgInventoryEffectAfterChange }}</span>
        </dd>
        <dt><span>Flag Material</span></dt>
        <dd>
          <span>{{ material.flagMaterial }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ material.comment }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
