<h2>Submitted Changes Review</h2>

<button class="btn btn-info me-2" style=" margin-top: 10px; margin-bottom: 10px; " (click)="routeToMaterialsPage()" placement="top">
  <span>Back</span>
</button>

<div class="table-responsive table-entities " id="entities" >
    <table class="table table-striped " aria-describedby="page-heading">
      <thead class = "navbar-dark">
        <tr class="headerRow2">
          
          <th scope="col"  class="headerRowStart" >
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>Material</span>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>Material Description</span>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>ABC Classification</span>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>Plant</span>
            </div>
          </th>

          <th scope="col" class="headerRowEnd">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>MRP Controller</span>
            </div>
          </th>

          <th scope="col" [attr.colspan]=3 class="headerRowEnd">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>New SAP Safety Stock</span>
            </div>
          </th>

          <th scope="col" [attr.colspan]=3 class="headerRowEnd">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>New SAP Safety Time</span>
            </div>
          </th>

          <th scope="col" [attr.colspan]=3 class="setWidth edit headerRowEnd">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>Flag</span>
            </div>
          </th>

          <th scope="col" [attr.colspan]=2 class="setWidth edit headerRowEnd">
            <div class="d-flex" style="place-content: center;" placement="top">
              <span>Comment</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of mapToList()" data-cy="entityTable">
          <td>{{ material.materialName }}</td>
          <td>{{ material.materialDesc }}</td>
          <td>{{ material.abcClassification }}</td>
          <td>{{ material.plant }}</td>
          <td class="headerRowEnd">{{ material.mrpcontroller }}</td>
          

          <td>{{ material.oldSST}}</td>
          <td [ngClass]="material.oldSST !== material.newSST ? 'textBlue' : ''">{{ material.newSST}}</td>

          <td *ngIf="material.oldSST === material.newSST" class="headerRowEnd" >
            <span>-</span>
          </td>
          <td  *ngIf="material.oldSST !== material.newSST" class="headerRowEnd" [ngClass] = "calculateColor(material.oldSST,material.newSST)">
            <fa-icon [icon]="valueVariation(material.oldSST, material.newSST) > 0 ? 'arrow-up' : 'arrow-down'" style="margin-right: 2px;"></fa-icon>
            <span>{{ abs(valueVariation(material.oldSST, material.newSST)) }}%</span>
          </td>


          <td>{{ material.oldST}}</td>
          <td [ngClass]="material.oldST !== material.newST ? 'textBlue' : ''">{{ material.newST}}</td>

          <td *ngIf="material.oldST === material.newST" class="headerRowEnd" >
            <span>-</span>
          </td>
          <td *ngIf="material.oldST !== material.newST" class="headerRowEnd" [ngClass] = "calculateColor(material.oldST,material.newST)">
            <fa-icon [icon]="valueVariation(material.oldST, material.newST) > 0 ? 'arrow-up' : 'arrow-down'" style="margin-right: 2px;"></fa-icon>
            <span>{{ abs(valueVariation(material.oldST, material.newST)) }}%</span>
          </td>
          
          <td>
            <fa-icon class="p-1" icon="flag"  [ngStyle]="{'color': material.flag  ? '#ff0000' : '#999999'}"></fa-icon>    
          </td>
          <td> 
            <fa-icon icon="arrow-right"></fa-icon>
          </td>
          <td>
            <fa-icon class="p-1" icon="flag"  [ngStyle]="{'color': material.newFlag  ? '#ff0000' : '#999999'}"></fa-icon>
          </td>


          <td class="text-truncate" style="max-width: 150px;">
            <span ngbTooltip="{{material.oldComment}}" tooltipClass="setWidth">{{ material.oldComment}}</span>
          </td>
          <td class="text-truncate" style="max-width: 150px;" [ngClass]="material.oldComment !== material.newComment? 'textBlue' : ''">
            <span ngbTooltip="{{material.newComment}}" tooltipClass="setWidth">{{ material.newComment}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>