<div>
  <h2 id="page-heading" data-cy="FlaggedMaterialHeading">
    <span>Special Cases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="flaggedMaterials?.length === 0">
    <span>No Flagged Materials found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="flaggedMaterials && flaggedMaterials.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="navbar-dark">

        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()" class="headerRow2">

          <th scope="col" jhiSortBy="material" class ="materialInfo headerRowStart">
            <div class="d-flex" style="place-content: center;">
              <span>Material</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="description" class ="materialInfo headerAlign">
            <div class="d-flex" style="place-content: center;">
              <span> Material Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="abcClassification" class ="materialInfo headerAlign">
            <div class="d-flex" style="place-content: center;">
              <span>ABC Classification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="plant" class ="materialInfo headerAlign">
            <div class="d-flex" style="place-content: center;">
              <span>Plant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="mrpController" class ="materialInfo headerRowEnd headerAlign">
            <div class="d-flex" style="place-content: center;">
              <span>MRP Controller</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          
          <th scope="col" jhiSortBy="flagMaterial" class="edit headerAlign">
            <div class="d-flex" style="place-content: center;">
              <span>Flag Status</span>
            </div>
          </th>

          <th scope="col" jhiSortBy="flagMaterial" class="edit headerAlign">
            <div class="d-flex" style="place-content: center;">
              <span>Edit</span>
            </div>
          </th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flaggedMaterial of flaggedMaterials; trackBy: trackId" data-cy="entityTable">
          <td class ="materialInfo" >{{ flaggedMaterial.material }}</td>
          <td class ="materialInfo" >{{ flaggedMaterial.description }}</td>
          <td class ="materialInfo" >{{ flaggedMaterial.abcClassification }}</td>
          <td class ="materialInfo" >{{ flaggedMaterial.plant }}</td>
          <td class ="materialInfo headerRowEnd" >{{ flaggedMaterial.mrpController }}</td>
          <td class ="edit">
            <fa-icon class="p-1" icon="flag"  [ngStyle]="{'color': flaggedMaterial.flagMaterial  ? '#ff0000' : '#999999'}"></fa-icon>

          </td>
          <td> <button
            type="submit"
            [routerLink]="['/flagged-material', flaggedMaterial.id, 'edit']"
            class="buttonNoBorder"
            data-cy="entityEditButton">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
