<div>
  <h2 id="page-heading" data-cy="FlaggedMaterialHeading">
    <span>Flagged Materials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-flagged-material"
        [routerLink]="['/flagged-material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Flagged Material </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="flaggedMaterials?.length === 0">
    <span>No Flagged Materials found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="flaggedMaterials && flaggedMaterials.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="material">
            <div class="d-flex">
              <span>Material</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="abcClassification">
            <div class="d-flex">
              <span>Abc Classification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avgSupplierDelay">
            <div class="d-flex">
              <span>Avg Supplier Delay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxSupplierDelay">
            <div class="d-flex">
              <span>Max Supplier Delay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serviceLevel">
            <div class="d-flex">
              <span>Service Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="plant">
            <div class="d-flex">
              <span>Plant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mrpController">
            <div class="d-flex">
              <span>Mrp Controller</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currSAPSafetyStock">
            <div class="d-flex">
              <span>Curr SAP Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proposedSST">
            <div class="d-flex">
              <span>Proposed SST</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deltaSST">
            <div class="d-flex">
              <span>Delta SST</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentSAPSafeTime">
            <div class="d-flex">
              <span>Current SAP Safe Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proposedST">
            <div class="d-flex">
              <span>Proposed ST</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deltaST">
            <div class="d-flex">
              <span>Delta ST</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="openSAPmd04">
            <div class="d-flex">
              <span>Open SA Pmd 04</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentInventoryValue">
            <div class="d-flex">
              <span>Current Inventory Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="unitCost">
            <div class="d-flex">
              <span>Unit Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avgDemand">
            <div class="d-flex">
              <span>Avg Demand</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avgInventoryEffectAfterChange">
            <div class="d-flex">
              <span>Avg Inventory Effect After Change</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="flagMaterial">
            <div class="d-flex">
              <span>Flag Material</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="flagExpirationDate">
            <div class="d-flex">
              <span>Flag Expiration Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valueOfUpdatedSS">
            <div class="d-flex">
              <span>Value Of Updated SS</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valueOfUpdatedST">
            <div class="d-flex">
              <span>Value Of Updated ST</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOfUpdatedSS">
            <div class="d-flex">
              <span>Date Of Updated SS</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOfUpdatedST">
            <div class="d-flex">
              <span>Date Of Updated ST</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="toSaveUpdates">
            <div class="d-flex">
              <span>To Save Updates</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currency">
            <div class="d-flex">
              <span>Currency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flaggedMaterial of flaggedMaterials; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/flagged-material', flaggedMaterial.id, 'view']">{{ flaggedMaterial.id }}</a>
          </td>
          <td>{{ flaggedMaterial.material }}</td>
          <td>{{ flaggedMaterial.description }}</td>
          <td>{{ flaggedMaterial.abcClassification }}</td>
          <td>{{ flaggedMaterial.avgSupplierDelay }}</td>
          <td>{{ flaggedMaterial.maxSupplierDelay }}</td>
          <td>{{ flaggedMaterial.serviceLevel }}</td>
          <td>{{ flaggedMaterial.plant }}</td>
          <td>{{ flaggedMaterial.mrpController }}</td>
          <td>{{ flaggedMaterial.currSAPSafetyStock }}</td>
          <td>{{ flaggedMaterial.proposedSST }}</td>
          <td>{{ flaggedMaterial.deltaSST }}</td>
          <td>{{ flaggedMaterial.currentSAPSafeTime }}</td>
          <td>{{ flaggedMaterial.proposedST }}</td>
          <td>{{ flaggedMaterial.deltaST }}</td>
          <td>{{ flaggedMaterial.openSAPmd04 }}</td>
          <td>{{ flaggedMaterial.currentInventoryValue }}</td>
          <td>{{ flaggedMaterial.unitCost }}</td>
          <td>{{ flaggedMaterial.avgDemand }}</td>
          <td>{{ flaggedMaterial.avgInventoryEffectAfterChange }}</td>
          <td>{{ flaggedMaterial.flagMaterial }}</td>
          <td>{{ flaggedMaterial.flagExpirationDate | formatMediumDate }}</td>
          <td>{{ flaggedMaterial.valueOfUpdatedSS }}</td>
          <td>{{ flaggedMaterial.valueOfUpdatedST }}</td>
          <td>{{ flaggedMaterial.dateOfUpdatedSS | formatMediumDate }}</td>
          <td>{{ flaggedMaterial.dateOfUpdatedST | formatMediumDate }}</td>
          <td>{{ flaggedMaterial.toSaveUpdates }}</td>
          <td>{{ flaggedMaterial.currency }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/flagged-material', flaggedMaterial.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/flagged-material', flaggedMaterial.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(flaggedMaterial)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
