@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';





/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
  font-family: 'Open_Sans';
  font-size: 13;
  max-lines: 3;
  text-align: center;
}

.logo-export {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url('../images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}


/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

@font-face {
  font-family: 'Open_Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */


.file-input {
  display: none;
}

.searchInputShow {
  
}
.searchInputHide{
  display: none;
}

.tableHide{
  display: none;
}

.selected-row{
  background-color: #AED3FF;
}
.normal-row{
  background-color:inherit;
}

.setWidth{
  min-width: 15rem;
}

.inputWidth{
  width: 100%;
}

.buttonNoBorder{
  border: 0; 
  background-color:inherit;
}

.btn-white{
  background-color: white; 
  border: gray; 
  border-width: 2px; 
  border-style: solid; 
}

.btn-white:hover {
  background-color: #e1e1e1;
}


.flexGrow {
  flex-grow: 1;
}

.textBlue {
  color: blue !important;
  font-weight: 900 !important;
  background-color: #AED3FF !important;
}

.textBlack{
  color: black !important;
}

.activeFilterCell {
  margin-right: 10px; 
  padding: 10px; 
  background-color: #dedede;
  margin-bottom: 12px;
}

.paddingLeftRight {
  padding-right: 10px;
  padding-left: 10px;
}

.paddingFive {
  padding: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-toggle::after {
  display: none;
}



.table {
  border-collapse: collapse;
}

.table thd {
  border: none; /* Remove borders for cells */
}


.tableHeader {
  border-color: rgb(219, 219, 219) !important;
  color: black;
  border-width: 1px !important;
}

/* Updated header colors */
.headerRow1 {
  background-color: #6c757d; /* A darker gray */
  color: white; /* White text for better contrast */
}

.headerRow2 {
  background-color: #adb5bd; /* A lighter gray */
  color: black; /* Black text for better readability */
}

.headerRowStart{
  border-left-color: rgb(219, 219, 219); 
  border-left-width: 1px;
}

.headerRowEnd{
  border-right-color: rgb(219, 219, 219) !important ;
  border-right-width: 1px !important; 
}

.rowLimiter {
  border-right-color: rgb(219, 219, 219); 
  border-right-width: 1px;
}

.submitModalBtns {
  display: flex;
  justify-content: space-between;
}

.custom-tooltip {
  --bs-tooltip-bg: rgb(167, 231, 255); 
  --bs-tooltip-border: black;
  --bs-tooltip-max-width: 400px !important;
  --bs-tooltip-color: black;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-arrow-width: 50px;
  --bs-tooltip-arrow-height: 20px;
  font-size: large;
}

.custom-tooltip-width {
  width: 400px; /* Adjust the width as needed */
}

.tooltipTutorial {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.tooltipBtns {
  display: flex;
  justify-content: space-between;
}

.custom-tooltip-smaller {
  --bs-tooltip-bg: #0073ff;
}

.optionsBarResponsive {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@media (max-width:1000px)  { 
  .optionsBarResponsive {
    flex-direction: column;
  }
}

.checkIcon {
  display: flex;
  justify-content: space-between;
}

.textRed {
  color: red !important;
  font-weight: 900 !important;
}

.textGreen {
  color: rgb(0, 192, 0) !important;
  font-weight: 900 !important;
}

.tour-step {
  display: none;
  /* Add styling for each tour step */
}