<div class="optionsBarResponsive" style=" margin-bottom: 20px;">
    <div>
      <div ngbDropdown class="dropdown d-flex justify-content-end" autoClose="outside" (openChange)="checkDropDown($event)">
      
        <button ngbDropdownToggle class="btn btn-white" type="button" id="dropdownMenuButtonFilterOptions" aria-expanded="false" >
          <fa-icon icon="filter"></fa-icon>
          <span>Filter Options</span>
          <fa-icon icon="caret-down"></fa-icon>
        </button>
  
          <ul ngbDropdownMenu aria-labelledby="nestedDropdownButton">
            <li>
              <button ngbDropdownItem color="primary" class="btn btn-primary" [ngStyle]="{'background-color': this.filterStatus.get('Material Name') ? '#3e8acc' : ''}" (click)="changeStatus('Material Name')">
                <span>Material Name</span>
              </button>
            </li>
            <li>
              <button ngbDropdownItem color="primary" class="btn btn-primary" [ngStyle]="{'background-color': this.filterStatus.get('Material Description') ? '#3e8acc' : ''}" (click)="changeStatus('Material Description')">
                <span>Material Description</span>
              </button>
            </li>
            <li>
              <button ngbDropdownItem color="primary" class="btn btn-primary" [ngStyle]="{'background-color': this.filterStatus.get('ABC Classification') ? '#3e8acc' : ''}" (click)="changeStatus('ABC Classification')">
                <span>ABC Classification</span>
              </button>
            </li>
            <li>
              <button ngbDropdownItem color="primary" class="btn btn-primary" [ngStyle]="{'background-color': this.filterStatus.get('Plant') ? '#3e8acc' : ''}" (click)="changeStatus('Plant')">
                <span>Plant</span>
              </button>
            </li>
            <li>
              <button ngbDropdownItem color="primary" class="btn btn-primary" [ngStyle]="{'background-color': this.filterStatus.get('MRP Controller') ? '#3e8acc' : ''}" (click)="changeStatus('MRP Controller')">
                <span>MRP Controller</span>
              </button>
            </li>


            <div class="dropdown-divider"  [ngClass] = "checkStatus() ? 'searchInputShow' : 'searchInputHide'"></div>
            <div [ngClass] = "this.filterStatus.get('Material Name') || this.filterStatus.get('Material Description') || this.filterStatus.get('MRP Controller') || this.filterStatus.get('Plant')? 'searchInputShow' : 'searchInputHide'" >
              <h6 class="dropdown-header"> Search in Column</h6>
              <li class="paddingLeftRight"> 
                <input [ngClass] = "this.filterStatus.get('Material Name') || this.filterStatus.get('Material Description') || this.filterStatus.get('MRP Controller')? 'searchInputShow' : 'searchInputHide'" type="text" class="inputWidth paddingFive" (keyup.enter)="sendFilterText($event)">
                <input [ngClass] = "this.filterStatus.get('Plant')? 'searchInputShow' : 'searchInputHide'"type="number" class="inputWidth paddingFive" (keyup.enter)="sendFilterText($event)">
              </li>
            </div>
            

            <h6 class="dropdown-header" [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'"> Select categories</h6>
            <li class="paddingLeftRight" [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'"> 
              <input type="checkbox"  (click)="sendABCFilter($event,'A')"><span> Category A</span>
            </li>
            <li class="paddingLeftRight" [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'">          
              <input type="checkbox"  (click)="sendABCFilter($event,'B')"><span> Category B</span>
            </li>
            <li class="paddingLeftRight" [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'">
              <input type="checkbox"  (click)="sendABCFilter($event,'C')"><span> Category C</span>              
            </li>
          </ul>
       </div>
    </div>

    <div placement="right" >
      <div ngbDropdown class="dropdown d-flex justify-content-end" autoClose="outside">
          
          <button ngbDropdownToggle class="btn btn-white" type="button"  id="dropdownMenuButtonTableSize" aria-expanded="false" >  
            <fa-icon icon="cogs"></fa-icon>
            <span >Table Size</span>
            <fa-icon icon="caret-down" style="margin-left: 10px;"></fa-icon>
          </button>
          <ul ngbDropdownMenu aria-labelledby="nestedDropdownButton">
            <li>
              <button ngbDropdownItem  class="btn btn-primary checkIcon" (click)="sendNumber(10)">
                <span>10 rows</span>
                <fa-icon icon="check" *ngIf="tableSize === 10"></fa-icon>
              </button>
            </li>
            <li>
              <button ngbDropdownItem class="btn btn-primary checkIcon" (click)="sendNumber(20)">
                <span>20 rows</span>
                <fa-icon icon="check" *ngIf="tableSize === 20"></fa-icon>
              </button>
            </li>
            <li>
              <button ngbDropdownItem class="btn btn-primary checkIcon" (click)="sendNumber(30)">
                <span>30 rows</span>
                <fa-icon icon="check" *ngIf="tableSize === 30"></fa-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
    
</div>