<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="flaggedMaterial">
      <h2 data-cy="flaggedMaterialDetailsHeading"><span>Flagged Material</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ flaggedMaterial.id }}</span>
        </dd>
        <dt><span>Material</span></dt>
        <dd>
          <span>{{ flaggedMaterial.material }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ flaggedMaterial.description }}</span>
        </dd>
        <dt><span>Abc Classification</span></dt>
        <dd>
          <span>{{ flaggedMaterial.abcClassification }}</span>
        </dd>
        <dt><span>Avg Supplier Delay</span></dt>
        <dd>
          <span>{{ flaggedMaterial.avgSupplierDelay }}</span>
        </dd>
        <dt><span>Max Supplier Delay</span></dt>
        <dd>
          <span>{{ flaggedMaterial.maxSupplierDelay }}</span>
        </dd>
        <dt><span>Service Level</span></dt>
        <dd>
          <span>{{ flaggedMaterial.serviceLevel }}</span>
        </dd>
        <dt><span>Plant</span></dt>
        <dd>
          <span>{{ flaggedMaterial.plant }}</span>
        </dd>
        <dt><span>Mrp Controller</span></dt>
        <dd>
          <span>{{ flaggedMaterial.mrpController }}</span>
        </dd>
        <dt><span>Curr SAP Safety Stock</span></dt>
        <dd>
          <span>{{ flaggedMaterial.currSAPSafetyStock }}</span>
        </dd>
        <dt><span>Proposed SST</span></dt>
        <dd>
          <span>{{ flaggedMaterial.proposedSST }}</span>
        </dd>
        <dt><span>Delta SST</span></dt>
        <dd>
          <span>{{ flaggedMaterial.deltaSST }}</span>
        </dd>
        <dt><span>Current SAP Safe Time</span></dt>
        <dd>
          <span>{{ flaggedMaterial.currentSAPSafeTime }}</span>
        </dd>
        <dt><span>Proposed ST</span></dt>
        <dd>
          <span>{{ flaggedMaterial.proposedST }}</span>
        </dd>
        <dt><span>Delta ST</span></dt>
        <dd>
          <span>{{ flaggedMaterial.deltaST }}</span>
        </dd>
        <dt><span>Open SA Pmd 04</span></dt>
        <dd>
          <span>{{ flaggedMaterial.openSAPmd04 }}</span>
        </dd>
        <dt><span>Current Inventory Value</span></dt>
        <dd>
          <span>{{ flaggedMaterial.currentInventoryValue }}</span>
        </dd>
        <dt><span>Unit Cost</span></dt>
        <dd>
          <span>{{ flaggedMaterial.unitCost }}</span>
        </dd>
        <dt><span>Avg Demand</span></dt>
        <dd>
          <span>{{ flaggedMaterial.avgDemand }}</span>
        </dd>
        <dt><span>Avg Inventory Effect After Change</span></dt>
        <dd>
          <span>{{ flaggedMaterial.avgInventoryEffectAfterChange }}</span>
        </dd>
        <dt><span>Flag Material</span></dt>
        <dd>
          <span>{{ flaggedMaterial.flagMaterial }}</span>
        </dd>
        <dt><span>Flag Expiration Date</span></dt>
        <dd>
          <span>{{ flaggedMaterial.flagExpirationDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Value Of Updated SS</span></dt>
        <dd>
          <span>{{ flaggedMaterial.valueOfUpdatedSS }}</span>
        </dd>
        <dt><span>Value Of Updated ST</span></dt>
        <dd>
          <span>{{ flaggedMaterial.valueOfUpdatedST }}</span>
        </dd>
        <dt><span>Date Of Updated SS</span></dt>
        <dd>
          <span>{{ flaggedMaterial.dateOfUpdatedSS | formatMediumDate }}</span>
        </dd>
        <dt><span>Date Of Updated ST</span></dt>
        <dd>
          <span>{{ flaggedMaterial.dateOfUpdatedST | formatMediumDate }}</span>
        </dd>
        <dt><span>To Save Updates</span></dt>
        <dd>
          <span>{{ flaggedMaterial.toSaveUpdates }}</span>
        </dd>
        <dt><span>Currency</span></dt>
        <dd>
          <span>{{ flaggedMaterial.currency }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/flagged-material', flaggedMaterial.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
