<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-flagged-material-heading" data-cy="FlaggedMaterialCreateUpdateHeading">Create or edit a Flagged Material</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_material">Material</label>
          <input type="text" class="form-control" name="material" id="field_material" data-cy="material" formControlName="material" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_abcClassification">Abc Classification</label>
          <select
            class="form-control"
            name="abcClassification"
            formControlName="abcClassification"
            id="field_abcClassification"
            data-cy="abcClassification"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let aBCClassification of aBCClassificationValues" [value]="aBCClassification">aBCClassification</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_plant">Plant</label>
          <input type="number" class="form-control" name="plant" id="field_plant" data-cy="plant" formControlName="plant" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_mrpController">Mrp Controller</label>
          <input
            type="text"
            class="form-control"
            name="mrpController"
            id="field_mrpController"
            data-cy="mrpController"
            formControlName="mrpController"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_flagMaterial">Flag Material</label>
          <input
            type="checkbox"
            class="form-check"
            name="flagMaterial"
            id="field_flagMaterial"
            data-cy="flagMaterial"
            formControlName="flagMaterial"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_flagExpirationDate">Flag Expiration Date</label>
          <div class="input-group">
            <input
              id="field_flagExpirationDate"
              data-cy="flagExpirationDate"
              type="text"
              class="form-control"
              name="flagExpirationDate"
              ngbDatepicker
              #flagExpirationDateDp="ngbDatepicker"
              formControlName="flagExpirationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="flagExpirationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
