<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save(content)" [formGroup]="editForm">
      <h2 id="jhi-flagged-material-heading" data-cy="FlaggedMaterialCreateUpdateHeading">Edit a Flagged Material</h2>

      <div style="display: flex; justify-content: center; gap: 50px; margin-top: 50px; margin-bottom: 20px;">
        <jhi-alert-error></jhi-alert-error>


        <div class="row mb-3">
          <label class="form-label" for="field_flagMaterial">Flag Material</label>
          <input
            type="checkbox"
            class="form-check"
            name="flagMaterial"
            id="field_flagMaterial"
            data-cy="flagMaterial"
            formControlName="flagMaterial"
          />
        </div>

        <div class="row mb-3" [ngClass] = "inputHideShow()">
          <label class="form-label" for="field_flagExpirationDate">Flag Expiration Date</label>
          <div class="input-group">
            <input
              id="field_flagExpirationDate"
              data-cy="flagExpirationDate"
              type="text"
              class="form-control"
              name="flagExpirationDate"
              ngbDatepicker
              #flagExpirationDateDp="ngbDatepicker"
              formControlName="flagExpirationDate"
              [minDate]="minDate" 
            />
            <button type="button" class="btn btn-secondary" (click)="flagExpirationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>

        </div>


      </div>

      <div class="errorMessage">
        <span *ngIf="flagError" style="color: red;">Flag expiration date must be chosen</span>
      </div>
      



      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
          [disabled]="buttonStatus"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>




  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Before you save ...</h3>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h5>
        If you confirm, the special case will be 
        <span style="color: red;font-weight: 900;">deleted </span> 
      </h5>
      <h6>Are you sure?</h6>
    </div>

    <div class="modal-footer submitModalBtns">
      <button type="button" class="btn btn-info" (click)="modal.close('Back')">Back</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Proceed')">
        Proceed
      </button>
    </div>
  </ng-template>


</div>
