<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-diabo-heading" data-cy="DiaboCreateUpdateHeading">Create or edit a Diabo</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_material">Material</label>
          <input type="text" class="form-control" name="material" id="field_material" data-cy="material" formControlName="material" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_materialDescription">Material Description</label>
          <input
            type="text"
            class="form-control"
            name="materialDescription"
            id="field_materialDescription"
            data-cy="materialDescription"
            formControlName="materialDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_abcClassification">Abc Classification</label>
          <select
            class="form-control"
            name="abcClassification"
            formControlName="abcClassification"
            id="field_abcClassification"
            data-cy="abcClassification"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let aBCClassification of aBCClassificationValues" [value]="aBCClassification">aBCClassification</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_avgSupplierDelayLast90Days">Avg Supplier Delay Last 90 Days</label>
          <input
            type="number"
            class="form-control"
            name="avgSupplierDelayLast90Days"
            id="field_avgSupplierDelayLast90Days"
            data-cy="avgSupplierDelayLast90Days"
            formControlName="avgSupplierDelayLast90Days"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maxSupplierDelayLast90Days">Max Supplier Delay Last 90 Days</label>
          <input
            type="number"
            class="form-control"
            name="maxSupplierDelayLast90Days"
            id="field_maxSupplierDelayLast90Days"
            data-cy="maxSupplierDelayLast90Days"
            formControlName="maxSupplierDelayLast90Days"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_serviceLevel">Service Level</label>
          <input
            type="number"
            class="form-control"
            name="serviceLevel"
            id="field_serviceLevel"
            data-cy="serviceLevel"
            formControlName="serviceLevel"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currentSapSafetyStock">Current Sap Safety Stock</label>
          <input
            type="number"
            class="form-control"
            name="currentSapSafetyStock"
            id="field_currentSapSafetyStock"
            data-cy="currentSapSafetyStock"
            formControlName="currentSapSafetyStock"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_proposedSafetyStock">Proposed Safety Stock</label>
          <input
            type="number"
            class="form-control"
            name="proposedSafetyStock"
            id="field_proposedSafetyStock"
            data-cy="proposedSafetyStock"
            formControlName="proposedSafetyStock"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_deltaSafetyStock">Delta Safety Stock</label>
          <input
            type="number"
            class="form-control"
            name="deltaSafetyStock"
            id="field_deltaSafetyStock"
            data-cy="deltaSafetyStock"
            formControlName="deltaSafetyStock"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currentSapSafetyTime">Current Sap Safety Time</label>
          <input
            type="number"
            class="form-control"
            name="currentSapSafetyTime"
            id="field_currentSapSafetyTime"
            data-cy="currentSapSafetyTime"
            formControlName="currentSapSafetyTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_proposedSafetyTime">Proposed Safety Time</label>
          <input
            type="number"
            class="form-control"
            name="proposedSafetyTime"
            id="field_proposedSafetyTime"
            data-cy="proposedSafetyTime"
            formControlName="proposedSafetyTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_deltaSafetyTime">Delta Safety Time</label>
          <input
            type="number"
            class="form-control"
            name="deltaSafetyTime"
            id="field_deltaSafetyTime"
            data-cy="deltaSafetyTime"
            formControlName="deltaSafetyTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_openSapMd04">Open Sap Md 04</label>
          <input
            type="text"
            class="form-control"
            name="openSapMd04"
            id="field_openSapMd04"
            data-cy="openSapMd04"
            formControlName="openSapMd04"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currentInventoryValue">Current Inventory Value</label>
          <input
            type="number"
            class="form-control"
            name="currentInventoryValue"
            id="field_currentInventoryValue"
            data-cy="currentInventoryValue"
            formControlName="currentInventoryValue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_averageInventoryEffectAfterChange">Average Inventory Effect After Change</label>
          <input
            type="number"
            class="form-control"
            name="averageInventoryEffectAfterChange"
            id="field_averageInventoryEffectAfterChange"
            data-cy="averageInventoryEffectAfterChange"
            formControlName="averageInventoryEffectAfterChange"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_newSapSafetyStock">New Sap Safety Stock</label>
          <input
            type="number"
            class="form-control"
            name="newSapSafetyStock"
            id="field_newSapSafetyStock"
            data-cy="newSapSafetyStock"
            formControlName="newSapSafetyStock"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_newSapSafetyTime">New Sap Safety Time</label>
          <input
            type="number"
            class="form-control"
            name="newSapSafetyTime"
            id="field_newSapSafetyTime"
            data-cy="newSapSafetyTime"
            formControlName="newSapSafetyTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_selectEntriesForChangeInSap">Select Entries For Change In Sap</label>
          <input
            type="checkbox"
            class="form-check"
            name="selectEntriesForChangeInSap"
            id="field_selectEntriesForChangeInSap"
            data-cy="selectEntriesForChangeInSap"
            formControlName="selectEntriesForChangeInSap"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_flagMaterialAsSpecialCase">Flag Material As Special Case</label>
          <input
            type="checkbox"
            class="form-check"
            name="flagMaterialAsSpecialCase"
            id="field_flagMaterialAsSpecialCase"
            data-cy="flagMaterialAsSpecialCase"
            formControlName="flagMaterialAsSpecialCase"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commentary">Commentary</label>
          <input
            type="text"
            class="form-control"
            name="commentary"
            id="field_commentary"
            data-cy="commentary"
            formControlName="commentary"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
