<div>
  <h2 id="page-heading" data-cy="MaterialHeading">
    <span>Materials</span>
  </h2>

    <options-bar (stringEmitter) = "receiveStringEvent($event)" (fileEmitter) = "onFileSelected($event)" (textFilterEmitter) = "receiveTextFilter($event)" (abcFilterEmitter) = "filterABCClassif($event)" (numberFilterEmitter) ="receiveNumberFilter($event)" [historyLength] = "history.length" [changesListLength]="this.linhas.size" [unselectedLines] = "getUnselectedLines()" [currencyEUR] = "currencyEUR" [tableSize]="itemsPerPage" (currencyValEmitter) = "receiveCurrencyVal($event)" (dropdownNumberEmitter) = "receiveDropdownNumber($event)"></options-bar>
    
    
    <div *ngIf="this.filters.filterOptions.length > 0" >
      <div style="font-weight: bold; text-align: start;">Active Filters:</div>
      <div class="d-flex">

        <ng-container *ngFor="let filter of this.filters.filterOptions">
          <div  *ngIf = "filter.name.split('.')[0] !== 'id' && filter.name.split('.')[0] !== 'flagMaterial'" class="activeFilterCell">
            <filter-display-cell [filter]=filter (filterRemoveMessage)="receiveFilterRemoveMessage($event)" ></filter-display-cell>
          </div>
        </ng-container>

        <ng-container *ngFor="let specialFilter of this.specialFiltersList">
          <div  *ngIf = "specialFilter.isActive" class="activeFilterCell">
            <filter-display-cell [specialFilter]="specialFilter" (spFilterRemoveMessage)="receiveSpFilterRemoveMessage($event)" ></filter-display-cell>
          </div>
        </ng-container>

        <div style="flex-grow: 1;"></div> 
        
        <div>
          <button class="btn btn-info me-2 " style="margin-left: 8px;" (click)="resetFilters()" placement="top">
            <fa-icon icon="trash-alt"></fa-icon>
            <span>Reset Filters</span>
          </button>
          
        </div>
      </div>
    </div>
    
    <!--
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material"
        style="margin-left: 8px;"
        [routerLink]="['/material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Material </span>
      </button>
    </div> -->

  
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <p *ngIf="alertMessage!=='n/a'">
    <ngb-alert [dismissible]="true" >
      {{alertMessage}}
    </ngb-alert>
  </p> 



  <div class="alert alert-warning" id="no-result" *ngIf="materials?.length === 0">
    <span>No Materials found</span>
  </div>

  <div class="table-responsive table-entities " id="entities" *ngIf="materials && materials.length > 0" >
    <table class="table table-striped " aria-describedby="page-heading">
      <thead class = "navbar-dark">
        <tr class = "headerRow1">

          <th [attr.colspan]="visibility.get('materialInfo') ? 5 : 1" class="tableHeader">
            <header-group [headerName] = "'Material Info'" [visibilityValue] = "visibility.get('materialInfo')" groupName = 'materialInfo' (visibilityEmitter)="switchVisibility($event)"></header-group>
          </th>

          <th [attr.colspan]="visibility.get('supplierDelay') ? 2 : 1" class="tableHeader">
            <header-group [headerName] = "'Supplier Delay Info'" [visibilityValue] = "visibility.get('supplierDelay')" groupName = 'supplierDelay' (visibilityEmitter)="switchVisibility($event)"></header-group>
          </th>

          <th [attr.colspan]="visibility.get('safetyStock') ? 2 : 1" class="tableHeader">
            <header-group [headerName] = "'Safety Stock Info'" [visibilityValue] = "visibility.get('safetyStock')" groupName = 'safetyStock' (visibilityEmitter)="switchVisibility($event)"></header-group>
          </th>

          <th [attr.colspan]="visibility.get('safetyTime') ? 2 : 1" class="tableHeader">
            <header-group [headerName] = "'Safety Time Info'" [visibilityValue] = "visibility.get('materialInfo')" groupName = 'safetyTime' (visibilityEmitter)="switchVisibility($event)"></header-group>
          </th>

          <th [attr.colspan]="visibility.get('inventory') ? 6 : 1" class="tableHeader">
            <header-group [headerName] = "'Inventory'" [visibilityValue] = "visibility.get('inventory')" groupName = 'inventory' (visibilityEmitter)="switchVisibility($event)"></header-group>
          </th>

          <th [attr.colspan]="visibility.get('edit') ? 5 : 1" class="tableHeader">
            <header-group [headerName] = "'Edit'" [visibilityValue] = "visibility.get('edit')" groupName = 'edit' (visibilityEmitter)="switchVisibility($event)"></header-group>
          </th>
        </tr>

        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()" class="headerRow2" >
          
          <th scope="col" jhiSortBy="material" class ="materialInfo headerRowStart" [ngClass] ="editCellClasses('materialInfo')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Material')}}" >
              <span>Material</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="description" class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Material Description')}}">
              <span>Material Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="abcClassification" class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">
            <div class="d-flex" style="place-content: center;" placement="top" [ngbTooltip]="msg.get('ABC Classification')">
              <span>ABC Classification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>



          <th scope="col" jhiSortBy="plant" class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">
            <div class="d-flex" style="place-content: center;" placement="top" [ngbTooltip]="msg.get('Plant')">
              <span>Plant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="mrpController" class ="materialInfo headerRowEnd" [ngClass] ="editCellClasses('materialInfo')">
            <div class="d-flex" style="place-content: center;" placement="top" [ngbTooltip]="msg.get('MRP Controller')">
              <span>MRP Controller</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>





          <th *ngIf = "!visibility.get('materialInfo')" class ="materialInfo headerRowEnd">
            ...
          </th>
          
          <th scope="col" jhiSortBy="avgSupplierDelay" class ="supplierDelay" [ngClass] ="editCellClasses('supplierDelay')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Avg Supplier Delay')}}">
              <span>Avg Supplier Delay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="maxSupplierDelay" class ="supplierDelay headerRowEnd" [ngClass] ="editCellClasses('supplierDelay')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Max Supplier Delay')}}">
              <span>Max Supplier Delay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th *ngIf = "!visibility.get('supplierDelay')" class ="supplierDelay headerRowEnd">
            ...
          </th>

          <th scope="col" jhiSortBy="currSAPSafetyStock" class ="safetyStock" [ngClass] ="editCellClasses('safetyStock')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Current Sap Safety Stock')}}">
              <span>Current Sap Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="proposedSST" class = "safetyStock headerRowEnd" [ngClass] ="editCellClasses('safetyStock')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Proposed Safety Stock')}}">
              <span>Proposed Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

         

          <th *ngIf = "!visibility.get('safetyStock')" class ="safetyStock headerRowEnd">
            ...
          </th>

          <th scope="col" jhiSortBy="currentSAPSafeTime" class = "safetyTime" [ngClass] ="editCellClasses('safetyTime')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Current Sap Safety Time')}}">
              <span>Current SAP Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="proposedST" class = "safetyTime headerRowEnd" [ngClass] ="editCellClasses('safetyTime')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Proposed Safety Time')}}">
              <span>Proposed Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          
          
          <th *ngIf = "!visibility.get('safetyTime')" class ="safetyTime headerRowEnd">
            ...
          </th>
          
          <th scope="col" jhiSortBy="serviceLevel" class = "inventory" [ngClass] ="editCellClasses('inventory')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Service Level')}}">
              <span>Service Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="openSAPmd04" class = "inventory" [ngClass] ="editCellClasses('inventory')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Open SAP Md 04')}}">
              <span>Open SAP Md 04</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="currentInventoryValue" class="inventory" [ngClass] ="editCellClasses('inventory')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Current Inventory Value')}}">
              <span>Current Inventory Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="deltaSST" class = "inventory" [ngClass] ="editCellClasses('inventory')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Delta Safety Stock')}}">
              <span>Delta Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="deltaST" class = "inventory" [ngClass] ="editCellClasses('inventory')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Delta Safety Time')}}">
              <span>Delta Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="avgInventoryEffectAfterChange" class = "headerRowEnd" [ngClass] ="editCellClasses('inventory')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Average Inventory Effect After Change')}}">
              <span>Average Inventory Effect After Change</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th *ngIf = "!visibility.get('inventory')" class ="inventory headerRowEnd">
            ...
          </th>
          
          <th scope="col" jhiSortBy="newSAPSafetyStock" class="edit" [ngClass] ="editCellClasses('edit')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('New SAP Safety Stock')}}">
              <span>New Sap Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="newSAPSafetyTime" class="edit" [ngClass] ="editCellClasses('edit')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('New SAP Safety Time')}}">
              <span>New Sap Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="selectEntriesForChangeInSap" class="edit" [ngClass] ="editCellClasses('edit')">
            <div  >
              <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Select Entries For Change')}}">
                <span>Entries For Change In Sap</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>

              </div>
              <input type="checkbox" [disabled]="linhas.size === 0" (click)="checkUncheckAll($event)">
              <p>Select All</p>

            </div>
          </th>

          <th scope="col" jhiSortBy="flagMaterial" class="edit" [ngClass] ="editCellClasses('edit')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Flag Material as Special Case')}}">
              <span>Flag Material As Special Case</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="comment" class="setWidth edit headerRowEnd" [ngClass] ="editCellClasses('edit')">
            <div class="d-flex" style="place-content: center;" placement="top" ngbTooltip="{{msg.get('Comment')}}">
              <span>Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th *ngIf = "!visibility.get('edit')" class ="edit headerRowEnd">
            ...
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materials; trackBy: trackId; let i = index;" data-cy="entityTable" [ngClass] = "func(material.id)">
          <td class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">{{ material.material }}</td>
          <td class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">{{ material.description }}</td>
          <td class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">{{ material.abcClassification }}</td>
          <td class ="materialInfo" [ngClass] ="editCellClasses('materialInfo')">{{ material.plant }}</td>
          <td class ="materialInfo headerRowEnd" [ngClass] ="editCellClasses('materialInfo')">{{ "md04" }}</td>

          <td *ngIf = "!visibility.get('materialInfo')" class="headerRowEnd">
            ...
          </td>

          <td class ="supplierDelay" [ngClass] ="editCellClasses('supplierDelay')">{{ material.avgSupplierDelay }}</td>
          <td class ="supplierDelay headerRowEnd" [ngClass] ="editCellClasses('supplierDelay')">{{ material.maxSupplierDelay }}</td>
          <td *ngIf = "!visibility.get('supplierDelay')" class="headerRowEnd">
            ...
          </td>

          <td class ="safetyStock" [ngClass] ="editCellClasses('safetyStock')">
            <ng-template #safetyStockContent>   
              Changed on: {{material.dateOfUpdatedSS}}  
              <p>Previous Safety Stock: {{material.valueOfUpdatedSS}}</p>
            </ng-template>
            <span placement="top" tooltipClass="custom-tooltip-smaller" [ngbTooltip]="safetyStockContent">{{ material.currSAPSafetyStock }}</span>
          </td>
          <td class ="safetyStock headerRowEnd" [ngClass] ="editCellClasses('safetyStock')">{{ material.proposedSST }}</td>
          <td *ngIf = "!visibility.get('safetyStock')" class="headerRowEnd">
            ...
          </td>

          <td class ="safetyTime" [ngClass] ="editCellClasses('safetyTime')">
            <ng-template #safetyTimeContent>   
              Changed on: {{material.dateOfUpdatedST}}  
              <p>Previous Safety Time: {{material.valueOfUpdatedST}}</p>
            </ng-template>
            <span placement="top" tooltipClass="custom-tooltip-smaller" [ngbTooltip]="safetyStockContent">{{ material.currentSAPSafeTime }}</span>
          </td>
          <td class ="safetyTime headerRowEnd" [ngClass] ="editCellClasses('safetyTime')">{{ material.proposedST }}</td>
          <td *ngIf = "!visibility.get('safetyTime')" class="headerRowEnd">
            ...
          </td>

          <td  class ="inventory" [ngClass] ="editCellClasses('inventory')">{{ material.serviceLevel }}</td>
          <td class ="inventory" [ngClass] ="editCellClasses('inventory')"><button class="buttonNoBorder">
            <a href="{{sapLinkBuilder(material.id)}}"><fa-icon icon="external-link" style="color: #2D8DFF;"></fa-icon></a>
            </button> <!--{{ diabo.openSapMd04 }}-->
          </td>

          <td  class ="inventory" [ngClass] ="editCellClasses('inventory')"><currency-tooltip-cell [value] = "currencyConverter(material.currentInventoryValue,material.currency)" [currency]="material.currency" [currencyEUR] = "currencyEUR" ></currency-tooltip-cell></td>
          

          <td class ="inventory" [ngClass] ="editCellClasses('inventory')">{{ material.deltaSST }}</td>
          <td class ="inventory" [ngClass] ="editCellClasses('inventory')">{{ material.deltaST }}</td>

          <td  class ="inventory headerRowEnd" [ngClass] ="editCellClasses('inventory')"><currency-tooltip-cell [value] = "currencyConverter(calcNewValueAvg(material),material.currency)" [currency]="material.currency" [currencyEUR] = "currencyEUR" ></currency-tooltip-cell></td>
          <td *ngIf = "!visibility.get('inventory')" class="headerRowEnd">
            ...
          </td>

         
          
          <td class ="edit" *ngIf="isEditable[0] === material.id && isEditable[1] === 0 " ><input class = "inputWidth" type="number" min=0 [placeholder]="placeholderGeneratorNum('SST',material)" (change)="input($event,'newSST',material.id)"></td>

          <td class ="edit" *ngIf="!(isEditable[0] === material.id && isEditable[1] === 0) " (click)="makeEditable(material.id,0)"  [ngClass] ="editCellClasses('edit',material,'SST')"><tooltip-cell [oldValue] = "material.newSAPSafetyStock" [generatedValue] = "cellValueGenerator('SST',material)"></tooltip-cell></td>

          

          <td class ="edit " *ngIf="isEditable[0] === material.id && isEditable[1] === 1"><input class = "inputWidth" type="number" min=0 [placeholder]="placeholderGeneratorNum('ST',material)" (change)="input($event,'newST',material.id)"></td>
          
          <td class ="edit" *ngIf="!(isEditable[0] === material.id && isEditable[1] === 1)" (click)="makeEditable(material.id,1)"  [ngClass] ="editCellClasses('edit',material,'ST')" ><tooltip-cell [oldValue] = "material.newSAPSafetyTime" [generatedValue] = "cellValueGenerator('ST',material)"></tooltip-cell></td>




          <td class ="edit" [ngClass] ="editCellClasses('edit')"><input type="checkbox" [checked]="linhas.get(material.id)?.selected" [disabled]="!linhas.has(material.id)" (click)="input($event,'selected',material.id)"></td>

          <td class ="edit" [ngClass] ="editCellClasses('edit')">
            <flag-modal [material]="material" [linhas] = "linhas" (flagDateEmmiter) = "receiveFlagEmission($event)"></flag-modal>
          </td>

          
          <!-- <td class ="edit setWidth" *ngIf="isEditable[0] === material.id && isEditable[1] === 2"><input class="inputWidth" [placeholder]="placeholderGeneratorString(material)" (change)="input($event,'newComment',material.id)"></td> -->
         
          <td class ="edit setWidth" [ngClass] ="editCellClasses('edit',material,'Comment')" >
            <div class="d-flex justify-content-between">
              <span class="d-inline-block text-truncate" style="max-width: 200px;" placement="top" ngbTooltip="{{pickComment(material.id)}}" tooltipClass="setWidth">
                {{((linhas.has(material.id) && (linhas.get(material.id)?.newComment !== material.comment))) ? linhas.get(material.id)?.newComment : material.comment }}
              </span>
              <comment-modal [oldComment]="pickComment(material.id)" [id]="material.id" (commentEmitter)="receiveComment($event)"></comment-modal>
            </div>
          </td>


          <td *ngIf = "!visibility.get('edit')">
            ...
          </td>



          <!--
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/material', material.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/material', material.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(material)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
          -->
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="materials && materials.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>