<div>
  <h2 id="page-heading" data-cy="MaterialHeading">
    <span>Materials</span>
  </h2>

    <options-bar (stringEmitter) = "receiveStringEvent($event)" (fileEmitter) = "onFileSelected($event)" (textFilterEmitter) = "receiveTextFilter($event)" (abcFilterEmitter) = "filterABCClassif($event)"></options-bar>
    <!--
      <div ngbDropdown class="dropdown d-flex justify-content-end" autoClose = "outside">
        <button ngbDropdownToggle class="btn btn-white"  type="button" id="dropdownMenuButton" aria-expanded="false"> 
          <fa-icon icon="filter"></fa-icon>
          <span >Filter Options</span>
        </button>
        <ul ngbDropdownMenu  aria-labelledby="dropdownMenuButton" >
          
          <h6 class="dropdown-header">Column names</h6>
          <div *ngFor="let filterName of filterStatus.keys()">
              <button ngbDropdownItem color="primary" class="btn btn-primary" (click)="clearStatus(filterName)">
                <span>{{filterName}}</span>
              </button>
          </div>

          <div class="dropdown-divider" [ngClass] = "checkStatus() ? 'searchInputShow' : 'searchInputHide'"></div>
          <h6 class="dropdown-header" [ngClass] = "this.filterStatus.get('Material Name') || this.filterStatus.get('Material Description') ? 'searchInputShow' : 'searchInputHide'"> Search in Column</h6>
          <li [ngClass] = "this.filterStatus.get('Material Name') || this.filterStatus.get('Material Description') ? 'searchInputShow' : 'searchInputHide'"> 
            <input type="text" class="inputWidth" (change)="filterSearchInput($event)">
          </li>
          
          <h6 class="dropdown-header" [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'"> Select categories</h6>
          <li  [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'"> 
            <input type="checkbox"  (click)="filterABCClassif($event,'A')"><span> Category A</span>
          </li>
          <li [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'">          
            <input type="checkbox"  (click)="filterABCClassif($event,'B')"><span> Category B</span>
          </li>
          <li [ngClass] = "this.filterStatus.get('ABC Classification') ? 'searchInputShow' : 'searchInputHide'">
            <input type="checkbox"  (click)="filterABCClassif($event,'C')"><span> Category C</span>              
          </li>

          <li>
            <div>
              <form [formGroup]="numberFilterForm" (ngSubmit)="onSubmit()">
                <select required formControlName="selectOption">
                  <option value="'lessThan'"> &lt; </option>
                  <option value="'greaterThan'"> &gt; </option>
                  <option value="'lessEqual'"> &le; </option>
                  <option value="'greaterThan'"> &ge; </option>
                  <option value="'different'"> != </option>
                  <option value="'equals'"> == </option>
                </select>
                <input type="number" formControlName="filterValue">
              </form>
              
            </div>
          </li>

        </ul>
      </div>


      <div ngbDropdown class="dropdown d-flex justify-content-end" autoClose="outside">
        <button ngbDropdownToggle class="btn btn-white" type="button" id="dropdownMenuButton" aria-expanded="false">
          <fa-icon icon="filter"></fa-icon>
          <span>Filter Options</span>
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <li>
            <div ngbDropdown class="dropdown d-flex" placement="right">
              <button ngbDropdownToggle class="btn btn-white " type="button" id="nestedDropdownButton" aria-expanded="false"> 
                <span>Material Info</span>
              </button>
              <ul ngbDropdownMenu aria-labelledby="nestedDropdownButton">
                <li>
                  <button ngbDropdownItem color="primary" class="btn btn-primary">
                    <span>Material Name</span>
                  </button>
                </li>
                <li>
                  <button ngbDropdownItem color="primary" class="btn btn-primary">
                    <span>Material Description</span>
                  </button>
                </li>
              </ul>
            </div>
            
            <div ngbDropdown class="dropdown d-flex" placement="right">
              <button ngbDropdownToggle class="btn btn-white " type="button" id="nestedDropdownButton" aria-expanded="false"> 
                <span>Supplier Delay Info</span>
              </button>
              <ul ngbDropdownMenu aria-labelledby="nestedDropdownButton">
                <li>
                  <button ngbDropdownItem  class="btn btn-primary">
                    <span>Avg Supplier Delay</span>
                  </button>
                </li>
                <li>
                  <button ngbDropdownItem class="btn btn-primary">
                    <span>Max Supplier Delay</span>
                  </button>
                </li>
              </ul>
            </div>

            <div ngbDropdown class="dropdown d-flex" placement="right">
              <button ngbDropdownToggle class="btn btn-white " type="button" id="nestedDropdownButton" aria-expanded="false"> 
                <span>Safety Stock Info</span>
              </button>
              <ul ngbDropdownMenu aria-labelledby="nestedDropdownButton">
                <li>
                  <button ngbDropdownItem  class="btn btn-primary">
                    <span>Cur. SAP Safety Supplier Delay</span>
                  </button>
                </li>
                <li>
                  <button ngbDropdownItem class="btn btn-primary">
                    <span>Max Supplier Delay</span>
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>








      <button class="btn btn-primary me-2" style="margin-left: 8px; color: white;" (click) = "submitToSAP()">
        <fa-icon icon="paper-plane"></fa-icon>
        <span>Submit Changes to SAP</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material"
        style="margin-left: 8px;"
        [routerLink]="['/material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Material </span>
      </button>

    </div> -->

  
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="materials?.length === 0">
    <span>No Materials found</span>
  </div>

  <div class="table-responsive table-entities table-bordered" id="entities" *ngIf="materials && materials.length > 0" style="border: 1px solid black;">
    <table class="table table-striped " aria-describedby="page-heading">
      <thead>
        <tr style="background-color: #B8B8B8;">
          <th [attr.colspan]="visibility.get('materialInfo') ? 3 : 1" style="border-color: black; border-width: 2px;">
            <div class="d-flex" style="place-content: center;">
              <span class="flexGrow">Material Info</span>
              <button class="buttonNoBorder" (click)="switchVisibility($event,'materialInfo')">
                <fa-icon [icon]="visibility.get('materialInfo') ? 'compress-alt' : 'expand-alt'"></fa-icon>
              </button>
            </div>
          </th>
          <th [attr.colspan]="visibility.get('supplierDelay') ? 2 : 1" style="border-color: black; border-width: 2px;">
            <div class="d-flex" style="place-content: center;"> 
              <span class="flexGrow">Supplier Delay Info</span>
              <button class="buttonNoBorder" (click)="switchVisibility($event,'supplierDelay')">
                <fa-icon [icon]="visibility.get('supplierDelay') ? 'compress-alt' : 'expand-alt'"></fa-icon>
              </button>
            </div>
          </th>
          <th [attr.colspan]="visibility.get('safetyStock') ? 3 : 1" style="border-color: black; border-width: 2px;">
            <div class="d-flex" style="place-content: center;">
              <span class="flexGrow">Safety Stock Info</span>
              <button class="buttonNoBorder" (click)="switchVisibility($event,'safetyStock')">
                <fa-icon [icon]="visibility.get('safetyStock') ? 'compress-alt' : 'expand-alt'"></fa-icon>
              </button>
            </div>
          </th>
          <th [attr.colspan]="visibility.get('safetyTime') ? 3 : 1" style="border-color: black; border-width: 2px;">
            <div class="d-flex" style="place-content: center;">
              <span class="flexGrow">Safety Time Info</span>
              <button class="buttonNoBorder" (click)="switchVisibility($event,'safetyTime')">
                <fa-icon [icon]="visibility.get('safetyTime') ? 'compress-alt' : 'expand-alt'"></fa-icon>
              </button>
            </div>
          </th>
          <th [attr.colspan]="visibility.get('inventory') ? 4 : 1" style="border-color: black; border-width: 2px;">
            <div class="d-flex" style="place-content: center;">
              <span class="flexGrow">Inventory Info & Service Level</span>
              <button class="buttonNoBorder" (click)="switchVisibility($event,'inventory')">
                <fa-icon [icon]="visibility.get('inventory') ? 'compress-alt' : 'expand-alt'"></fa-icon>
              </button>
            </div>
          </th>
          <th [attr.colspan]="visibility.get('edit') ? 5 : 1" style="border-color: black; border-width: 2px;">
            <div class="d-flex" style="place-content: center;">
              <span class="flexGrow">Edit</span>
              <button class="buttonNoBorder" (click)="switchVisibility($event,'edit')">
                <fa-icon [icon]="visibility.get('edit') ? 'compress-alt' : 'expand-alt'"></fa-icon>
              </button>
            </div>
          </th>
        </tr>

        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()" style="background-color: #DADADA; border-bottom: black; border-width: 2px;" >
          <th scope="col" jhiSortBy="material" class ="materialInfo" style="border-left-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Material</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="description" class ="materialInfo">
            <div class="d-flex" style="place-content: center;">
              <span>Material Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="abcClassification" class ="materialInfo" style="border-right-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Abc Classification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th *ngIf = "!visibility.get('materialInfo')" style="border-right-color: black; border-width: 1px;">
            ...
          </th>
          
          <th scope="col" jhiSortBy="avgSupplierDelay" class ="supplierDelay">
            <div class="d-flex" style="place-content: center;">
              <span>Avg Supplier Delay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="maxSupplierDelay" class ="supplierDelay" style="border-right-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Max Supplier Delay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th *ngIf = "!visibility.get('supplierDelay')" style="border-right-color: black; border-width: 1px;">
            ...
          </th>

          <th scope="col" jhiSortBy="currSAPSafetyStock" class ="safetyStock">
            <div class="d-flex" style="place-content: center;">
              <span>Current Sap Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="proposedSST" class = "safetyStock">
            <div class="d-flex" style="place-content: center;">
              <span>Proposed Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="deltaSST" class = "safetyStock" style="border-right-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Delta Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th *ngIf = "!visibility.get('safetyStock')" style="border-right-color: black; border-width: 1px;">
            ...
          </th>

          <th scope="col" jhiSortBy="currentSAPSafeTime" class = "safetyTime">
            <div class="d-flex" style="place-content: center;">
              <span>Current SAP Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="proposedST" class = "safetyTime">
            <div class="d-flex" style="place-content: center;">
              <span>Proposed Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="deltaST" class = "safetyTime" style="border-right-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Delta Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th *ngIf = "!visibility.get('safetyTime')" style="border-right-color: black; border-width: 1px;">
            ...
          </th>
          
          <th scope="col" jhiSortBy="serviceLevel" class = "inventory">
            <div class="d-flex" style="place-content: center;">
              <span>Service Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="openSAPmd04" class = "inventory">
            <div class="d-flex" style="place-content: center;">
              <span>Open SAP Md 04</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="currentInventoryValue" class="inventory">
            <div class="d-flex" style="place-content: center;">
              <span>Current Inventory Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="avgInventoryEffectAfterChange" class="inventory" style="border-right-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Average Inventory Effect After Change</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th *ngIf = "!visibility.get('inventory')" style="border-right-color: black; border-width: 1px;">
            ...
          </th>
          <th scope="col" jhiSortBy="newSapSafetyStock" class="edit tableHide">
            <div class="d-flex" style="place-content: center;">
              <span>New Sap Safety Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="newSapSafetyTime" class="edit tableHide">
            <div class="d-flex" style="place-content: center;">
              <span>New Sap Safety Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="selectEntriesForChangeInSap" class="edit tableHide">
            <div  >
              <div class="d-flex" style="place-content: center;">
                <span>Select Entries For Change In Sap</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
              <input type="checkbox" [disabled]="linhas.size === 0" (click)="checkUncheckAll($event)">

            </div>
          </th>

          <th scope="col" jhiSortBy="flagMaterial" class="edit tableHide">
            <div class="d-flex" style="place-content: center;">
              <span>Flag Material As Special Case</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="comment" class="setWidth edit tableHide" style="border-right-color: black; border-width: 1px;">
            <div class="d-flex" style="place-content: center;">
              <span>Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th *ngIf = "!visibility.get('edit')" style="border-right-color: black; border-width: 1px;">
            ...
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materials; trackBy: trackId" data-cy="entityTable" [ngClass] = "func(material.id)">
          <!--<td>
            <a [routerLink]="['/material', material.id, 'view']">{{ material.id }}</a>
          </td>-->
          <td class ="materialInfo">{{ material.material }}</td>
          <td class ="materialInfo">{{ material.description }}</td>
          <td class ="materialInfo">{{ material.abcClassification }}</td>
          <td *ngIf = "!visibility.get('materialInfo')">
            ...
          </td>

          <td class ="supplierDelay">{{ material.avgSupplierDelay }}</td>
          <td class ="supplierDelay">{{ material.maxSupplierDelay }}</td>
          <th *ngIf = "!visibility.get('supplierDelay')">
            ...
          </th>

          <td class ="safetyStock">{{ material.currSAPSafetyStock }}</td>
          <td class ="safetyStock">{{ material.proposedSST }}</td>
          <td class ="safetyStock">{{ material.deltaSST }}</td>
          <th *ngIf = "!visibility.get('safetyStock')">
            ...
          </th>

          <td class ="safetyTime">{{ material.currentSAPSafeTime }}</td>
          <td class ="safetyTime">{{ material.proposedST }}</td>
          <td class ="safetyTime">{{ material.deltaST }}</td>
          <th *ngIf = "!visibility.get('safetyTime')">
            ...
          </th>

          <td  class ="inventory">{{ material.serviceLevel }}</td>
          <td class ="inventory"><button class="buttonNoBorder">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><fa-icon icon="external-link" style="color: #2D8DFF;"></fa-icon></a>
            </button> <!--{{ diabo.openSapMd04 }}-->
          </td>
          <td  class ="inventory">{{ material.currentInventoryValue }}</td>
          <td  class ="inventory">{{ calcNewValueAvg(material) }}</td>
          <th *ngIf = "!visibility.get('inventory')">
            ...
          </th>

         
          
          <td class ="edit" *ngIf="isEditable[0] === material.id && isEditable[1] === 0 " ><input class = "inputWidth" type="number" min=0 placeholder="{{(linhas.get(material.id) && (linhas.get(material.id)?.newSST !== material.proposedSST )) ? linhas.get(material.id)?.newSST : material.proposedSST}}" (change)="input($event,'newSST',material.id)"></td>
          <td class ="edit" *ngIf="!(isEditable[0] === material.id && isEditable[1] === 0) " (click)="makeEditable(material.id,0)" [ngStyle]="{'color': (linhas.has(material.id) && (linhas.get(material.id)?.newSST !== material.proposedSST)) ? 'blue' : 'black'}" [ngClass] ="func2()">{{(linhas.get(material.id) && (linhas.get(material.id)?.newSST !== material.proposedSST )) ? linhas.get(material.id)?.newSST : material.proposedSST}}</td>



          <td class ="edit " *ngIf="isEditable[0] === material.id && isEditable[1] === 1"><input class = "inputWidth" type="number" min=0 placeholder="{{ (linhas.get(material.id) && (linhas.get(material.id)?.newST !== material.proposedST )) ? linhas.get(material.id)?.newST :material.proposedST}}" (change)="input($event,'newST',material.id)"></td>

          <td class ="edit " *ngIf="!(isEditable[0] === material.id && isEditable[1] === 1)" (click)="makeEditable(material.id,1)" [ngStyle]="{'color': (linhas.has(material.id) && (linhas.get(material.id)?.newST !== material.proposedST)) ? 'blue' : 'black'}" [ngClass] ="func2()">{{(linhas.get(material.id) && (linhas.get(material.id)?.newST !== material.proposedST )) ? linhas.get(material.id)?.newST : material.proposedST}}</td>



          <td class ="edit tableHide"><input type="checkbox" [checked]="linhas.get(material.id)?.selected" [disabled]="!linhas.has(material.id)" (click)="input($event,'selected',material.id)"></td>

          <td class ="edit tableHide">
            <button class="buttonNoBorder" (click)="input($event, 'flag', material.id)">
              <fa-icon class="p-1" icon="flag" [ngStyle]="{'color': (linhas.get(material.id) ? linhas.get(material.id)?.flag : material.flagMaterial)  ? '#ff0000' : '#999999'}"></fa-icon>
            </button>
          </td>

          
          <td class ="edit setWidth" *ngIf="isEditable[0] === material.id && isEditable[1] === 2"><input class="inputWidth" placeholder="{{ linhas.get(material.id) ? linhas.get(material.id)?.newComment : material.comment}}" (change)="input($event,'newComment',material.id)"></td>
         
          <td class ="edit setWidth" *ngIf="!(isEditable[0] === material.id && isEditable[1] === 2)" (click)="makeEditable(material.id,2)" [ngStyle]="{'color': (linhas.has(material.id) && (linhas.get(material.id)?.newComment !== material.comment)) ? 'blue' : 'black'}" [ngClass] ="func2()" >{{((linhas.has(material.id) && (linhas.get(material.id)?.newComment !== material.comment))) ? linhas.get(material.id)?.newComment : material.comment }}</td>


          <th *ngIf = "!visibility.get('edit')">
            ...
          </th>



          <!--
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/material', material.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/material', material.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(material)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
          -->
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="materials && materials.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
